.bloco-titulo-reserva-h2{
    display: flex;
    justify-content: center;
    margin: 30px;
    font-size:30px;
}

.flex-container-reserva{
   
     display: flex; 
     justify-content: center;
    margin: 20px;
    
   
    

}
.flex-container-reserva1{

    display: flex;
    background-color: #ffff;
    margin-top: 10px;
    padding: 20px;
    

}

.reserva-titulo-carro{
    text-align: center;
    font-size: 30pt;
}

.detalhes-reserva-1{
    margin-left: 10px;
    
}
.flex-container-reserva2{
    display: flex;
    background-color: rgb(236, 232, 232);
    box-shadow: 0 0.5rem 1rem #c8c5c5; 
    border-radius:10px;  
    margin: 50px;
    margin-top: 20px; 
    padding: 20px;
    margin-bottom: 20px;
    
}

.bloco-detalhes-reserva{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    border: 1px #666;
    border-radius:10px;
    margin:20px; 
    background-color: #ffff;
    box-shadow: 0 0.5rem 1rem #c8c5c5; 
    width: 90%;
    margin-top: 10px;
   
}

.reserva-dados-pessoa{
    margin-right: 20%;
    margin-left: 10%;
}

.button-reserva{
    background: #F6A52A;
    border: none;
    color: black;
    padding: 10px 5px;
    text-align:center;
    font-size: 18px;
    border-radius:3px;
    width:120px;
    margin-top: 10px;
    margin-left: 40%;
    margin-bottom: 20px;
    width: 366px;
    height: 60px;
}

.voltarprodutos{
    margin-left: 10px;
    text-decoration: none;
    color:black;
}
