#confNewProduct {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#confNewProduct-card {
    width: 60%;
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0.5rem 1rem #b8b8b8;
    padding: 2rem;
    border-radius: 0.5rem;
}

#confNewProduct-card h3 {
    font-weight: 600;
    margin-top: 1rem;
    color: black;
}

#confNewProduct-card h5 {
    font-size: 1rem;
}

.checkIcon {
    color: #F6A52A;
    font-size: 3.5rem;
}

.confNewProductBtn {
    width: 10rem;
    height: 2.2rem;
    border-radius: 0.2rem;
    border: none;
    background: #F6A52A;
    color: white;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.2rem;
}

.confNewProductBtn:hover {
    opacity: 0.9;
}

@media only screen and (min-width: 600px) {
    #confNewProduct-card {
        width: 32rem;
    }

    .confNewProductBtn {
        margin: 1rem;
    }

    #confNewProduct-card h5 {
        font-size: 1.4rem;
    }
}