*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #F6A52A;
  /* box-shadow: 0 0 1rem black; */
  width: 100%;
  height: 90px;
 
}
@media ( max-width:768px){
  .header{
    flex-direction: column;
   margin-right: 90px;
    height: 40%;
    text-align: center;
  }
}

.logo{
  margin: 10px 20px;
}

.logo .img {
  background-color: #F6A52A;
  width: 80px;
  height: 40px;
}

.header-right{
   display: flex;
   align-items: center;
   margin-right: 60px;   
}

.header-rightLink{
  position: relative;
  text-decoration: none;
  padding: 0 20px;
  margin-right: 20px;
  color: black ;
  font-size: 20px;
 
   
}
@media ( max-width:768px){
  .header-right{
    flex-direction: column;
    align-content: center;
    margin: 0 0 0 12px;
    padding: 5px;
  }
}

.header-rightLink:hover{
  color: black;
  font-size: 22px;
  transition: 0.1s;
}

.header-rightLink::after{
  position: absolute;
  content: "";
  background: black;
  height: 1.5px;
  width: 0;
  left: 0;
  bottom: -7px;
  transform: rotate(180deg);
  transition: 0.3s; 
  color: inherit; 
}

.header-rightLink:hover:after{
  width: 100%;
  
}



.logIn{
  margin-top: 30px;
  margin-left: 1px;
  margin-right: 80px;
}

.logInImg{
  margin-top: 20px;
  margin-left: 1px;
  margin-right: 2px;
  width: 40px;
  height: 40px;
}


.btn-login{
  margin: 10px;
  border: 1px solid;
  border-radius: 10px;
  padding : 5px 5px 5px 5px; 
} 

