.ProdutoModal{
    position: fixed;
    padding: 0%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;  
    background-color: rgba(0,0,0,0.5);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
     -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
   
   
}

.container2{
    background-color: #fff;
    color: #000;
    width: 100%;
    height:100%;
    border-radius: 10px;  
}

.close{
    font-size: 16px;
    display: flex;
    background-color: transparent;
    outline: none;   
    right: calc(-100% + 30px);
    top: 29px;
    cursor: pointer;
    position: relative;
    align-items: center;
    
}

.close::before, .close::after{
    content: '';
    position: absolute;
    width: 2.5px;
    height: 24px;
    background-color: #000;
}

::after{
    transform: rotate(45deg);
}

::before{
    transform: rotate(-45deg);
}
.content{
    margin-left: 0%;
   
}
.ImgModal{
    width: 50px;
    height: 50px;

}

.ButtonModal{
    background: #F6A52A;
    border: none;
    color: #935a04;
    padding: 10px 5px;
    text-align:center;
    font-size:14px;
    border-radius:10px;
    box-shadow:3px 3px 3px rgb(203, 201, 201);
    width:120px;
    margin-top: 60px;
   
}

.modalItem{
   padding: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.flex-container{
    display: flex;
    

    
    }
.flex-container2{
    display: flex;
    background-color: #F1C481;
    border-radius:10px;
    
    
    

    
    }
   
    .flex-child-calendario{
    flex: 1;
        
    }
    .flex-child-resto{
    flex: 10;
    margin:40px;
        
    }
    .modal-descricao{
        flex: 1;
    }

    .listaAtributosBox{
        flex:1;
        margin-left: 10%;

    }
