.ProdCategoryUl{
    margin:30px;
    padding:10px;
    align-items: center;
     
}

.ProdCategoryLi {
    list-style-type: none;
    border: 1px #666;
    border-radius:10px;
    margin:30px;
    width: 450px;
    height:400px;
    align-items: center;
    background-color: white;
    box-shadow: 5px 5px 5px #D3D3D3 

}

.LinkProdCategory {
    text-decoration:none;
}

.ImgProdCategory {
    width: 200px;
    height:150px;
    margin: 50px 120px
}


.H3ProdCategory{
    color: black;
    margin: 10px;
    text-align:center;
}

.LinkProdCategory {
    text-decoration:none;
}

.ImgProdCategory {
    width: 200px;
    height:150px;
    margin: 50px 120px
}



