#page-container.ProdCategoryBody {
  min-height: 0;
}

.ProdCategoryBody {
  background: #ffff;
}

.ProdCategoryUl {
  margin: 5px;
  padding: 5px;
  align-items: center;
}

.ProdCategoryLi {
  list-style-type: none;
 
  border-radius: 10px;
  margin: 20px;
  width: 390px;
  padding-bottom: 10px;
  align-items: center;
  background-color: #ffff;
  box-shadow: 0 0.5rem 1rem #c8c5c5;
}

.LinkProdCategory {
  background: #ffff;
  border-radius: 10px;
  height: 524px;
  text-decoration: none;
  margin: 0px 0px 0px 0px;
}

.ImgProdCategory {
  width: 260px;
  height: 160px;
  margin: 45px 70px;
}

.H3ProdCategory {

  font-style: italic;
  
  font-size: 20px;
  font-family: arial, sans-serif;
  margin: 5px;
  text-align: center;
}
.H3ProdQualification {
  color: black;
  margin: 15px;
  text-align: justify;
}

.ParagProdCategory {
  font-family:Arial, sans-serif;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 60px;
  margin-top: 25px;
  justify-content: center;
  text-align: center;
}

.ButtonProductItem {
  display: inline-block;
  background: #f6a52a;
  border: none;
  color: black;
  padding: 10px 10px;
  text-align: center;
  font-size: 18px;
  margin: 0px 10px 10px 10px;
  border-radius: 3px;
  width: 366px;
  height: 60px;
}

.ButtonProductItem:hover{
  background: #f49505;

}