ul{
    margin:30px;
    padding:10px;
    align-items: center;
     
}

.ProductItemLi {
    list-style-type: none;
    border: 1px #666;
    border-radius:10px;
    margin:30px;
    width: 450px;
    height:400px;
    align-items: center;
    background-color: white;
    box-shadow: 5px 5px 5px #D3D3D3 

}

.LinkProductItem {
    text-decoration:none;
}

.ImgProductItem {
    width: 200px;
    height:150px;
    margin: 50px 120px
}


.H3ProductItem{
    color: black;
    margin: 10px;
    text-align:center;
}

body{
    background:#ffff; 
}

.ParagProductItem{
    color: black;
    margin: 10px;
    text-align: center;
}

.ButtonProductItem{
    display: inline-block;
    background: #F6A52A;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align:center;
    font-size:16px;
    margin:0px 155px;
    border-radius:10px;
    box-shadow:5px 5px 5px grey;
    width:150px;
}
